body {
    background-color: rgb(233, 152, 165);
}

.cabeça {
    text-align: center;
    font-size: normal 15pt  Arial;
    
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
    text-align: center;
}
          

